n8n_Example_Apaleo_MCP.json
{
  "name": "n8n Example Apaleo MCP",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}\n\nYou are MCP-Agent, an LLM assistant driven by a live registry of tools (each with an internal name, a human description, and a JSON schema). Your goal is to turn user requests—simple or complex—into the minimal JSON tool-calls needed.\nWhen gicing a offer, always give the Rate Plan ID.\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2152,
        -220
      ],
      "id": "464e21f5-eb48-407d-9d4f-b877e0f25cc8",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2020,
        120
      ],
      "id": "f6222579-596b-474e-a22e-16f2159b5105",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ajIUF8l1o5kdnY7W",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1680,
        -220
      ],
      "id": "52ea47c2-5630-4962-b614-2170096a087c",
      "name": "When chat message received",
      "webhookId": "203790f0-23b8-4841-86a0-8f333c184f78"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2240,
        0
      ],
      "id": "2e438f35-a5a4-4630-8c4a-c2279651f4b5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sseEndpoint": "https://mcp.apaleo.com/sse/",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": "={{ [\n  \"ListProperties\",\n  \"CountProperties\", \n  \"ListUnits\",\n  \"CountUnits\",\n  \"ListUnitAttributes\",\n  \"ListGroups\",\n  \"ListBlocks\", \n  \"ListMaintenances\",\n  \"CountMaintenances\",\n  \"ListNoShowPolicies\",\n  \"CountServices\",\n  \"GetAvailableUnits\",\n  \"RunNightAudit\"\n] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2540,
        80
      ],
      "id": "2e93b429-0130-460b-926d-a820bf79508d",
      "name": "Apaleo MCP",
      "credentials": {
        "httpBearerAuth": {
          "id": "EgtVSJVi8AqmPhpo",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://identity.apaleo.com/connect/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "specifyBody": "string",
        "body": "grant_type=client_credentials",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        -220
      ],
      "id": "e2bfb557-6ae6-46b2-a8bd-e493a210018a",
      "name": "Get Access Token",
      "credentials": {
        "httpBasicAuth": {
          "id": "bJADduG1grmjz85B",
          "name": "identity-prod"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1820,
        -420
      ],
      "id": "91e1aedc-1161-4a70-af47-2080b9cc197e",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2180,
        -420
      ],
      "id": "9ac760ba-c791-4c72-9c94-d8c0f8a06fb6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2460,
        -100
      ],
      "id": "7035014a-398d-4f09-9533-77f6647911be",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1960,
        -60
      ],
      "id": "106a5855-8780-460d-900d-2c4d6560692e",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Apaleo MCP": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d73b7ea7-57ad-4b67-915d-0da80e51a8f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "368629e78457d61416bc78e196c3f5dba5296a615424f12489d38bb4f6a9d6ff"
  },
  "id": "SLVhTJdLWwye15JE",
  "tags": []
}